:root {
  --vcp-c-brand: #cdcdcd;
}

.algolia [command-item][aria-selected='true'], .algolia [command-item]:hover {
  background: var(--vcp-c-brand);
  color: brown;
}

.search-dialog div[command-item] mark {
  background: yellow;
  color: red;
}
