:root {
  --vcp-c-brand: #cdcdcd;
}

.DocSearch-Hits mark {
  background: red;
}

.algolia [command-item][aria-selected="true"],
.algolia [command-item]:hover {
  background: var(--vcp-c-brand);
  color: brown;
}

.search-dialog div[command-item] mark {
  background: yellow;
  color: red;
}

html:not(.dark) .vp-doc [class*="language-"] pre {
  background: #292b30;
}

html.dark .vp-doc [class*="language-"] pre {
  background: #292b30;
}

#VPSidebarNav .VPSidebarItem.is-active .text {
  font-weight: 900;
}

html:not(.dark) .vp-doc .line-numbers-wrapper {
  background: #292b30;
  color: #9b9b9b;
  border-right: #575757 1px solid;
}

html:not(.dark) .vp-doc [class*='language-'] > button.copy {
  border: 1px solid #72798b;
  background-color: #292b30;
  background-image: var(--vp-icon-copy);
}

html:not(.dark) .vp-doc [class*='language-'] > button.copy.copied, .vp-doc [class*='language-'] > button.copy:hover.copied {
  background-color: #292b30;
}

html:not(.dark) .vp-doc [class*='language-'] > span.lang {
  color: rgb(166 166 189 / 56%);
}

.VPSocialLinks.VPNavBarSocialLinks.social-links {
  margin-right: 0;
}

/* 修改页面宽度 */
@media (min-width: 960px) {
  .VPSidebar {
    padding-left: 32px !important;
    width: var(--vp-sidebar-width) !important;
  }
  .VPSidebar::-webkit-scrollbar{
    width: 0;
  }
  .VPSidebar:hover::-webkit-scrollbar{
    width: 6px;
  }
  .VPSidebar::-webkit-scrollbar-thumb {
    background-color: #eee;
  }
  
  .VPContent.has-sidebar {
    padding-right: 0 !important;
    padding-left: var(--vp-sidebar-width) !important;
  }
  .VPDoc.has-aside .content-container {
    max-width: unset !important;
  }
  .VPNavBar.has-sidebar .content {
      padding-right: 32px !important;
      padding-left: var(--vp-sidebar-width) !important;
  }
  .VPNavBar.has-sidebar div.title {
    padding-left: 32px !important;
    width: var(--vp-sidebar-width) !important;
  }
  .VPNavBar.has-sidebar .curtain {
    width: calc(100% - var(--vp-sidebar-width)) !important;
  }
}

/* 修改details块内多个div之间的隔离 */
div[class*='language-'] + div[class*='language-'] {
  margin-top: 16px !important;;
}
